/* Inspiration lånt fra w3schools, copilot(AI prompts dokument) og youtube: https://youtu.be/1aqomR-FaHw?si=FtUyLAn3NoBlVpZo */

/* Globale settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-color: #FFF1EC;
  scroll-behavior: smooth;
  font-family: 'Pompiere', 'Arial', sans-serif;
  overflow-x: hidden;
}


h1 {
  color: #FFF1EC;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 55px;
}

h2 {
  color: #1C2F4C;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 55px;
  font-weight: 800;
}

h3 {
  color: #1C2F4C;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: #FFF1EC;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  
}

h5 {
color: #FFF1EC;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 55px;
}

h6 {
  color: #1C2F4C;
  font-family: 'Pompiere', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

p {
  color: #1C2F4C;
  font-family: 'Manrope', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 1%;
}

/* Centreret tekst margin */
.portfolio p,
.portfolio h2,
.portfolio h3,
.portfolio h5,
#ommig p,
#ommig h2,
#ommig h3,
#ommig h5,
.contact-columns p,
.contact-columns h2,
.contact-columns h3,
.contact-columns h5 {
  margin-left: 7%;
  margin-right: 7%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 8px;
}

/*Navigationslinje*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-right: -3%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 24px;
}

.nav-links a.active {
    border-bottom: 3px solid #FFF1EC;
    padding-bottom: 4px;
}

nav .logo {
    font-family: 'Pompiere', 'Ariel', sans-serif;
    font-size: 30px;
    color: #FFF1EC;
    margin-left: -7%;
}

a {
  text-decoration: none;
  color: #FFF1EC;
}


/*Knapper*/
.primary-btn {
    background-color: #FFDCCC;
    font-family: "Pompiere", 'Ariel', sans-serif;
    color: #1C2F4C;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}

.primary-btn:hover {
    background-color: #FFC7AD;
    color: #1C2F4C
}

.second-btn {
    background-color: #1C2F4C;
    font-family: "Pompiere", 'Ariel', sans-serif;
    color: #FFF1EC;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 16px 0 0;
    display: block;
    width: fit-content;
}

.talk-to-us-content .second-btn {
    margin: 16px auto 0;
}

.second-btn:hover {
    background-color: #6F3B2F;
}

.primary-btn, .second-btn {
   padding: 14px 32px;
   font-size: 22px;
   border-radius: 8px;
   font-weight: bold;
}

/*Burger menu media query under 800px*/
.menu-btn {
    position: fixed;
    right: 50px;
    top: 30px;
    padding: 12px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEDAD7;
    color: #1C2F4C;
    display: none;
    z-index: 1000;
    border: none;
    cursor: pointer;
}

.menu-btn.open {
    background-color: #EEDAD7;
    color: #1C2F4C;
}

.menu-btn i {
    font-size: 20px;
}

.menu-btn.open i {
    transition: transform 0.3s ease;
}

/*Til JavaScript scrolltotopbtn*/
#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: #EEDAD7;
  color: #1C2F4C;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#scrollToTopBtn.show {
  opacity: 1;
}

/*Skal vi samarbejde?- sektion*/

.talk-to-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#FFF1EC;
  height: 500px;
  gap: 16px;
  margin-top: 120px;
  padding: 0 16px;
  background-image: url('../img/baggrund.webp');
  background-size: cover;
  background-position: center;
  max-height: 400px;
  width: auto;
}

.talk-to-us-content h2 {
  font-size: 40px;
  color: #fff1ec;
  margin-top: 16px;
}

.talk-to-us-content p {
  max-width: 500px;
  text-align: center;
  color: #fff1ec;
  margin-top: 16px;
}



/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


footer p {
  padding: 16px 0;
  color: #1C2F4C;
}


/* Forside */

#portfolio-header {
  width: 100%;
  max-height: 100vh;
  background-image: url('../img/baggrund.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
  flex-wrap: wrap;
}

.header-text h1 {
  color: #FFF1EC;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-text h2 {
  flex: 1;
  color: #FFF1EC;
  text-align: left;
  font-size: 48px;
  line-height: 1.2;
  margin-left: -5%;
}


.header-image img {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}


.header-text .primary-btn {
  width: fit-content;
  align-self: flex-start;
  margin: 0;
  margin-left: -5%;
}


/* BILAG 1 Sørg for at header-text er en flex-kolonne */
.header-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;   /* h2 forbliver venstrejusteret */
}

/* Kun knappen centreret */
.header-text .primary-btn {
  align-self: flex-start; /* knappen venstrejusteret BILAG 1 SLUT*/
}

.header-text h2 span {
    display: block;
}
/*Bilag 1 slut*/


/*Kontaktside*/
#contact-header {
  width: 100%;
  max-height: 100vh;
  min-height: 300px;
  background-image: url(../img/baggrund.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#contact-header nav .logo {
  margin-left: -18%;
}

#contact-header nav {
  margin-right: -18%;
}

/*Kontaktform -> Mine oplysninger*/

.adresses {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 20px;
}

.adresses h3 {
  margin-left: 0;
  margin-right: 0;
}

.adresses p {
  margin-left: 0;
  margin-right: 0;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.detail h3,
.detail p {
  margin-left: 0;
  margin-right: 0;
}


/*Kontaktform -> Sociale medier*/
.followWrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

.followWrapper h3 {
  margin-left: 0;
  margin-right: 0;
}

.followWrapper img {
  width: 40px;
  height: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.followWrapper img:hover {
  width: 42px;
  height: 42px;
}

.sociallink {
  display: flex;
  gap: 60px;
  list-style-type: none;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}



/* Portfolio */
#portfolio-header {
  min-height: 300px;
  background-image: url(../img/baggrund.webp);
  background-size: cover;
  background-position: center;
}

/*Margin på hele siden*/
.portfolio {
  margin: 7%;
}


.solid-divider {
  border-top: 2px solid #6F3B2F;
  margin: 2%;
}


/*Sektion 1*/
.aboutportfolio {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

.aboutportfolio p {
  margin-right: 5%;
}

.aboutportfolio img {
  height: auto;
  max-width: 80%;
  margin-top: -5%;
}

/*Sektion 2*/
.aboutfotos {
  display: flex;
  margin-top: 2%;
}

.aboutfotos p {
  margin-right: 10%;
}

.aboutfotos img {
  margin-top: -5%;
  max-width: 275px;
  height: auto;
  border-radius: 10px;
}




/*Sektion 3*/
.aboutcontentcreation {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

.aboutcontentcreation img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  margin-top: -10%;
}

.aboutcontentcreation h2 {
  margin-top: 10%;
}

.aboutcontentcreation p {
  margin-right: 20%;
}


/*Sektion 4*/
.aboutanimation {
  margin-top: 2%;
  display: flex;
}

.aboutanimation iframe {
  margin-left: 10%;
  margin-right: 0;
  margin-top: 4%;
  border-radius: 10px;
  width: 400px;
  height: 225px;
  aspect-ratio: 16 / 9;
}

.aboutanimation p {
  margin-right: 10%;
}

/*Sektion 5*/
.aboutvideo {
  margin-top: 2%;
  display: flex;
}

.aboutvideo video {
  margin-left: 10%;
  margin-right: 0;
  border-radius: 10px;
  margin-top: -5%;
}

.aboutvideo p {
  margin-right: 10%;
  align-items: center;
}

/*Sektion 6*/
.aboutprototyping {
  display: flex;
  margin-top: 2%;
}

.aboutprototyping img {
  max-width: 25%;
  height: auto;
  margin-top: -5%;;

}

.aboutprototyping p {
  margin-right: 10%
}

/*Sektion 7*/
.aboutanalyse {
  display: flex;
  margin-top: 2%;
}

.aboutanalyse p {
  margin-right: 10%;
}

.aboutanalyse img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: -5%;
}

/* Om mig */

#ommig {
  margin-top: 5%;
  margin-left: 5%;
}


/*Sektion 1*/
.aboutchanne {
 display: flex;
 flex-direction: row;
}

.aboutchanne img {
  height: 500px;
  width: auto;
  border-radius: 10px;
  margin-top: 10%;
} 

.aboutchanne p {
  margin-bottom: 0;
  margin-right: 10%
}

/*Sektion 2*/
.aboutchanne1 {
 display: flex;
 flex-direction: row;
}

.aboutchanne1 img {
  height: 450px;
  width: auto;
  border-radius: 10px;
  margin-top: 10%;
} 

.aboutchanne1 p {
  margin-right: 10%;
  margin-top: 0;
}

/*Sektion 3*/
.aboutchanne2 {
 display: flex;
 flex-direction: row;
}

.aboutchanne2 img {
  height: 260px;
  width: auto;
  border-radius: 10px;
  margin-top: 5%;
} 

.aboutchanne2 p {
  margin-bottom: 5%;
  margin-right: 10%;
}


.aboutarbejde {
 display: flex;
 flex-direction: row;
}

.aboutarbejde p {
  margin-right: 10%;
}

.aboutarbejde img {
  border-radius: 10px;
  max-width: 100%;
  height: 400px;
  margin-right: 12%;
  display: block;
}

.aboutme {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 7%;
}

.aboutme p {
  margin-top: 2%;
  margin-right: 15%;
}


/* Media queries 801px til 1199px */
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  
  .container {
    max-width: 900px;
  }

  /* Forside */
  #portfolio-header {
    min-height: 600px;
    max-height: 900px;
  }

  .header-text h2 {
    font-size: 250%;
    text-align: center;
  }

  h5 {
    font-size: 120%;
    text-align: center;
  }

  nav .logo {
    text-align: center;
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 5%;
  }

  .hide-mobile {
    display: none;
  }

  .header-content {
    font-size: 24px;
    flex-direction: column;
    text-align: center;
  }

  .header-text .primary-btn {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header-image img {
    max-width: 350px;
  }

  .aboutarbejde img {
    margin-left: 0;
    margin-top: 10%;
    max-width: 60%;
    height: auto;
    display: block;
  }

  .aboutarbejde {
    flex-direction: column;
    align-items: center;
  }

  /* Burger menu */
  .menu-btn {
    display: block;
  }

  nav {
    padding: 16px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #1C2F4C;
    width: 100%;
    height: 100vh;
    align-items: end;
    padding-top: 80px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .nav-links.nav-active {
    transform: translateX(0);
  }

  .nav-links li {
    border-bottom: 1px solid #FFF1EC;
    width: 100%;
    padding: 8px 20px;
    padding-bottom: 10px;
    text-align: left;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
    gap: 16px;
  }

  /* Kontakt side */
  .adresses {
    margin-left: 0;
    margin-top: 20px;
  }

  .detailsWrapper {
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }

  .followWrapper img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .followWrapper {
    text-align: center;
  }

  .sociallink {
    justify-content: center;
  }

  .detail {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }

  .primary-btn, .second-btn {
    padding: 14px 28px;
    font-size: 20px;
    width: 40%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
  }

  /* Portfolio */
  .aboutportfolio {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }

  .aboutportfolio img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .aboutfotos {
    display: flex;
    flex-direction: column;
  }

  .aboutfotos img {
    margin: 10% auto 0;
    display: block;
    max-width: 50%;
    max-height: none;
  }

  .aboutcontentcreation {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: center;
  }

  .aboutcontentcreation img {
    max-width: 35%;
    max-height: none;
    margin: 10% auto 0;
  }

  .aboutanimation {
    display: flex;
    flex-direction: column;
  }

  .aboutanimation iframe {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    max-width: 60%;
    max-height: none;
  }

  .aboutvideo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutvideo p {
    margin-bottom: 10%;
  }

  .aboutvideo video {
    margin: 10% auto 0;
    max-width: 60%;
    max-height: none;
  }

  .aboutprototyping {
    display: flex;
    flex-direction: column;
  }

  .aboutprototyping img {
    margin: 10% auto 0;
    display: block;
    max-width: 45%;
    height: auto;
  }

  .aboutanalyse {
    display: flex;
    flex-direction: column;
  }

  .aboutanalyse img {
    margin: 10% auto 0;
    display: block;
    max-width: 70%;
    height: auto;
  }

  /* Om mig */
  .aboutchanne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutchanne img {
    width: 50%;
    height: auto;
    margin-top: 10%;
  }

  .aboutchanne1 {
    flex-direction: column;
    align-items: center;
  }

  .aboutchanne1 p {
    margin-bottom: 10%;
  }

  .aboutchanne1 img {
    width: 50%;
    height: auto;
    margin-top: 5%;
  }

  .aboutchanne2 {
    flex-direction: column;
    align-items: center;
  }

  .aboutchanne2 p {
    margin-bottom: 10%;
  }

  .aboutchanne2 img {
    width: 60%;
    height: auto;
  }

  .aboutme {
    margin-top: 10%;
  }

}

/* Mobil - under 800px */
@media only screen and (max-width: 800px){

  /* Forside */

  #portfolio-header {
    min-height: 500px;
    max-height: 800px;
  }

  .header-text h2 {
      font-size: 200%;
      text-align: center;

  }

   h5 {
    font-size: 100%;
    text-align: center;
   }

   nav .logo {
    text-align: center;
    width: 100%;
    margin-top:5%;
   }

   h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 5%;
   }

   .hide-mobile {
    display: none;
   }

    .header-content {
      font-size: 20px;
      flex-direction: column;
      text-align: center;
  }

  .header-text .primary-btn {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header-image img {
      max-width: 300px;
  }
  
  .aboutarbejde img {
      margin-left: 0;
      margin-top: 10%;
      max-width: 80%;
      height: auto;
      display: block;
    }

    .aboutarbejde {
      flex-direction: column;
      align-items: center;
    }

  /*Burger menu*/
  .menu-btn {
    display: block;
  }

  nav {
    padding: 16px;
  }

  .nav-links {
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  background-color: #1C2F4C;
  width: 100%;
  height: 100vh;
  align-items: end;
  padding-top: 80px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  }
  .nav-links.nav-active {
    transform: translateX(0);
  }

  .nav-links li {
    border-bottom: 1px solid #FFF1EC;
    width: 100%;
    padding: 8px 20px;
    padding-bottom: 10px;
    text-align: left;
  }


  footer {
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
    gap: 16px;}


/*Kontakt side media queries*/

  .adresses {
    margin-left: 0;
    margin-top: 20px;
  }

  .detailsWrapper {
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }

  .followWrapper img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .followWrapper {
    text-align: center;
  }

    .sociallink {
    justify-content: center;
  }

  .details {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .detail {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }

 .primary-btn, .second-btn {
  padding: 12px 24px;
  font-size: 18px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  text-align: center;;
 }

  /* Portfolio media queries*/

  .aboutportfolio {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.aboutportfolio img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.aboutfotos {
  display: flex;
  flex-direction: column;
}
.aboutfotos img {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  max-width: 80%;
  max-height: none;
 justify-content: center;
 }


.aboutcontentcreation {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  align-items: center;
}

.aboutcontentcreation img {
  max-width: 80%;
  max-height: none;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
}


.aboutanimation {
  display: flex;
  flex-direction: column;
}
.aboutanimation iframe {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  max-width: 90%;
  max-height: none;
}

.aboutvideo {
  display: flex;
  flex-direction: column;
}

.aboutvideo p {
  margin-bottom: 10%;
}
.aboutvideo iframe {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  max-width: 90%;
  max-height: none;
}

.aboutprototyping {
  display: flex;
  flex-direction: column;
}
.aboutprototyping img {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  max-width: 90%;
  height: auto;
  justify-content: center;
 }

 .aboutanalyse {
  display: flex;
  flex-direction: column;
}
.aboutanalyse img {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  max-width: 80%;
  height: auto;
 justify-content: center;
 }
  /* --- OMMIG / Om mig --- */

  .aboutchanne {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.aboutchanne img {
  width: 80%;
  height: auto;
  margin-top: 10%;
}

.aboutchanne1 {
  flex-direction: column;
  align-items: center;
}

.aboutchanne1 img {
  width: 80%;
  height: auto;
  margin-top: 5%;
}

.aboutchanne2 {
  flex-direction: column;
  align-items: center;
}

.aboutchanne2 img {
  width: 90%;
  height: auto;
}

.aboutme {
  margin-top: 10%;
}

}
