*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-color: #FFF1EC;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Ariel', sans-serif;
}

a {
  text-decoration: none;
  color: #FFF1EC;
}

#header {
  width: 100%;
  height: 100vh;
  background-color: blue;
  background-image: url('../img/mig.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 18px;
}

nav .logo {
    font-family: 'Reenie Beanie', 'Ariel', sans-serif;
    font-size: 30px;
    color: #FFF1EC;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
}

.header-content h2 {
    font-size: 60px;
    color: #FFF1EC;
    font-weight: 40px;
    font-family: "reenie beanie", 'Ariel', sans-serif;
}

.header-content p {
    font-size: 20px;
    color: #FFF1EC;
    text-align: center;
}

.primary.btn {
    background-color: #BA857F;
    font-family: "Poppins", 'Ariel', sans-serif;
    color: #FFF1EC;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary.btn:hover {
    background-color: #1C2F4C;
}


h1 {
  text-align: left;
  color: #FFF1EC;
  font-family: 'Reenie Beanie', 'Ariel', sans-serif;
  font-size: 55px;
}

h2 {
  color: #1C2F4C;
  font-family: 'Reenie Beanie', 'Ariel', sans-serif;
  font-size: 40px;
}

h3 {
  color: #1C2F4C;
  font-family: 'Poppins', 'Ariel', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

h4 {
  color: #1C2F4C;
  font-family: 'Poppins', 'Ariel', sans-serif;
  font-size: 20px;
  font-style: italic;
}

h5 {
  color: #1C2F4C;
  font-family: 'Poppins', 'Ariel', sans-serif;
  font-size: 10px;
  text-decoration: underline;
}

p {
  color: #1C2F4C;
  font-family: 'Poppins', 'Ariel', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

@media only screen and (max-width: 500px){

}
<--!// 11.07 i video bjerg//!-->